<html ng-app="hmApp" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-route.js"></script>
  <script src="bower_components/angular/angular-resource.js"></script>
  <script src="bower_components/angular/angular-sanitize.js"></script>
  <script src="bower_components/angular/angular-cookies.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/n3-line-chart/line-chart.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/UserCtrl.js"></script>
  <script src="js/InitCtrl.js"></script>
  <script src="js/BalanceSheetCtrl.js"></script>
  <script src="js/CategoriesCtrl.js"></script>
  <script src="js/BalancesCtrl.js"></script>
  <script src="js/ReservesCtrl.js"></script>
  <script src="js/MoneyOpersCtrl.js"></script>
</head>
<body>
<div ng-controller="UserCtrl" class="block">
  <h2>Домашние деньги</h2>
  <!--a href="api/database/clear-n-create-balance-sheet">clear database and create balance sheet</a-->
  <div class="form">
    <input ng-readonly="isLogged()" ng-model="email" placeholder="Email"/>
    <input type="password" ng-readonly="isLogged()" ng-model="pwd" placeholder="Пароль"/>
    <input type="submit"
           ng-hide="isLogged()"
           ng-click="login(email, pwd)"
           value="Войти"/>
    <input type="submit"
           ng-show="isLogged()"
           ng-click="logout()"
           value="Выйти"/>
    <span ng-bind="errMsg"></span>
  </div>
</div>

<div ng-controller="InitCtrl" ng-hide="true"></div>

<div ng-controller="BalanceSheetCtrl" class="block">
  <div>
    Свободные деньги:
    <span ng-bind-html="formatMoney(bsStat.freeAmount)"
          class="{{bsStat.debitSaldo - bsStat.reserveSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
    Баланс:
    <span ng-bind-html="formatMoney(bsStat.totalSaldo)"
          class="{{bsStat.totalSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
    Резервы:
    <span ng-bind-html="formatMoney(bsStat.reserveSaldo)"
          class="{{bsStat.reserveSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
  </div>
  <div>
    Последние
    <input type="number" ng-model="interval" ng-change="loadBsStat()"/>
    дней
    Доходы:
    <span ng-bind-html="formatMoney(bsStat.incomeAmount)" class="positive-money"></span>
    Расходы:
    <span ng-bind-html="formatMoney(bsStat.chargesAmount)" class="negative-money"></span>
  </div>
  <div>
    <linechart data="bsStat.dayStats" options="options" mode="" width="800" height="200"></linechart>
  </div>
  <div>
    Расходы по категориям
    <a href="" ng-click="showCharges=!showCharges" ng-bind="showCharges ? 'скрыть' : 'показать'"></a>
    <div ng-hide="!showCharges" ng-repeat="category in bsStat.categories" class="list-item-block">
      <div>
        <div class="balance-left-block">
          <span ng-bind="category.name"></span>
        </div>
        <div class="balance-right-block">
          <span ng-bind-html="formatMoney(category.amount)"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="MoneyOpersCtrl" class="block">
  <div>
    Журнал операций
    <div>
      <a href="" ng-click="showSearchClick()">поиск</a>
    </div>
    <div ng-show="showSearch">
      <input ng-model="search"/>
      <input type="button" ng-click="find(search)" value="искать"/>
    </div>
    <div>
      <span>Добавить</span>
      <a href="" ng-click="newOper('expense')">расход</a>,
      <a href="" ng-click="newOper('income')">доход</a> или
      <a href="" ng-click="newOper('transfer')">перевод</a>.
    </div>
    
    <div ng-repeat="groupList in opers.data">
      <div align="center">
        <a href="" ng-click="groupList.expanded = !groupList.expanded">{{groupList.caption}}</a>
      </div>
      <div ng-repeat="oper in groupList.items" ng-show="groupList.expanded" class="list-item-block">
        <div ng-show="!oper.isEdited">
          <span ng-hide="oper.status == 'done'">{{oper.operDate}}</span>
          <a href=""
             ng-click="oper.isEdited=true"
             ng-bind-html="getAmountAsHtml(oper)"
             class="{{oper.type == 'transfer' ? 'money' : (oper.type == 'income' ? 'positive-money' : 'negative-money')}}">
          </a>
          <span ng-bind="oper.items[0].balanceName"></span>
          <span ng-show="oper.items.length > 1">&rarr;</span>
          <span ng-show="oper.items.length > 1" ng-bind="oper.items[1].balanceName"></span>
          <span class="label" ng-repeat="label in oper['labels']">{{label}}</span>
          <span>
            <a href=""
               ng-show="oper.status == 'done'"
               ng-click="upOper(oper)">вверх</a>
            <a href=""
               ng-show="oper.status == 'done' && oper.period != 'SINGLE'"
               ng-click="createRecurrenceOperByOper(oper)">шаблон</a>
            <a href=""
               ng-show="oper.status == 'pending' || oper.status == 'recurrence'"
               ng-click="completeOper(oper)">выполнить</a>
            <a href=""
               ng-hide="(oper.status == 'recurrence' || oper.status == 'pending') && oper.recurrenceId != null"
               ng-click="deleteOper(oper)">удалить</a>
            <a href=""
               ng-show="(oper.status == 'recurrence' || oper.status == 'pending') && oper.recurrenceId != null"
               ng-click="skipOper(oper)">пропустить</a>
          </span>
          <div ng-show="oper['comment'].length > 0">
            <span>{{oper['comment']}}</span>
          </div>
          <div ng-hide="oper['period'] == 'month'">
            Периодичность: <span ng-bind="getPeriodName(oper)"></span>
          </div>
        </div>
        <div ng-if="oper.isEdited">
          <div class="form">
            <div>
              <span ng-bind="oper.type == 'expense' ? 'расход' : oper.type == 'income' ? 'доход' : 'перевод'"></span>
            </div>
            <div>
              <input class="date" ng-model="oper.operDate" placeholder="Дата"/>
              <input class="amount" ng-model="oper.items[0].value" placeholder="Сумма"/>
              <span ng-bind="oper.type == 'income' ? 'Куда: ' : 'Откуда: '"></span>
              <select
                  ng-model="oper.items[0].balanceId"
                  ng-options="acc.id as acc.name for acc in getFirstAccounts(oper)">
              </select>
              <span ng-if="oper.type == 'transfer'">Куда: </span>
              <select
                  ng-if="oper.type == 'transfer'"
                  ng-model="oper.items[1].balanceId"
                  ng-options="acc.id as acc.name for acc in getSecondAccounts(oper)">
              </select>
              <input class="amount"
                     ng-if="oper.type == 'transfer' && balanceCurrenciesIsNotEqual(oper.items[0].balanceId, oper.items[1].balanceId)"
                     ng-model="oper.items[1].value"
                     placeholder="Сумма"/>
            </div>
            <div>
              <select ng-model="oper.period">
                <option value="month">Месяц</option>
                <option value="quarter">Квартал</option>
                <option value="year">Год</option>
                <option value="single">Разовая</option>
              </select>
              <input ng-model="oper.comment" placeholder="Комментарий"/>
              <span>
                <span ng-repeat="label in oper['labels']">
                  <a href="" class="label" ng-show="!labelIsEdited[$index]" ng-click="labelIsEdited[$index]=true">{{label}}</a>
                  <input class="label" ng-show="labelIsEdited[$index]" ng-model="label"
                         ng-keypress="labelIsEdited[$index]=$event.keyCode!=13;editLabelKeyPressed($event, $index, label, oper)"/>
                </span>
                <a href="" ng-show="!isNewLabel" ng-click="isNewLabel=true" class="label">+</a>
                <input class="label" ng-hide="!isNewLabel" ng-model="newLabel" list="labelList"
                       ng-keypress="isNewLabel=$event.keyCode!=13; newLabelKeyPressed($event, newLabel, oper); newLabel = $event.keyCode==13 ? null : newLabel"
                       ng-focus="getSuggestLabels(oper, newLabel)"/>
                <datalist id="labelList">
                  <option ng-repeat="tag in suggestLabels" value="{{tag}}"></option>
                </datalist>
              </span>
            </div>
            <div>
              <input type="submit"
                     ng-click="saveOper(oper)"
                     ng-disabled="!validOper(oper)"
                     value="сохранить"/>
              <a href="" ng-click="cancelOper(oper)">отменить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="" ng-show="hasOpersNextPage()" ng-click="loadOpersNextPage(search)">еще</a>
    <div>
      Повторяющиеся платежи
      <a href="" ng-click="showRecurrenceOpers=!showRecurrenceOpers"
         ng-bind="showRecurrenceOpers ? 'скрыть' : 'показать'"></a>
      <div ng-hide="!showRecurrenceOpers" ng-repeat="recurrenceOper in recurrenceOpers" class="list-item-block">
        <div>
          <div ng-hide="recurrenceOper.isEdited">
            <span>{{recurrenceOper.nextDate}}</span>
            <span ng-bind-html="getAmountAsHtml(recurrenceOper)"
                  class="{{recurrenceOper.type == 'transfer' ? 'money' : (recurrenceOper.type == 'income' ? 'positive-money' : 'negative-money')}}">
            </span>
            <span ng-bind="recurrenceOper.items[0].balanceName"></span>
            <span ng-show="recurrenceOper.items.length > 1">&rarr;</span>
            <span ng-show="recurrenceOper.items.length > 1" ng-bind="recurrenceOper.items[1].balanceName"></span>
            <span>Периодичность: {{getPeriodName(recurrenceOper)}}</span>
            <div>
              <span>{{recurrenceOper['comment']}}</span>
              <div><span class="label" ng-repeat="label in recurrenceOper['labels']">{{label}}</span></div>
              <span>
                <a href="" ng-click="recurrenceOper.isEdited=true">изменить</a>
                <a href="" ng-click="deleteRecurrenceOper(recurrenceOper)">удалить</a>
              </span>
            </div>
          </div>
          <div ng-show="recurrenceOper.isEdited">
            <div class="form">
              <div>
                <input class="date" ng-model="recurrenceOper.nextDate" placeholder="Дата"/>
                <select
                        ng-if="recurrenceOper.type !== 'income'"
                        ng-model="recurrenceOper.fromAccId"
                        ng-options="acc.id as acc.name for acc in getFirstAccounts(recurrenceOper)"
                        ng-click="refreshToAccounts(recurrenceOper.fromAccId)">
                </select>
                <input class="amount" ng-model="recurrenceOper.amount" placeholder="Сумма"/>
                <select
                        ng-if="recurrenceOper.type !== 'income'"
                        ng-model="recurrenceOper.toAccId"
                        ng-options="acc.id as acc.name for acc in getSecondAccounts(recurrenceOper)"
                        ng-click="refreshFromAccounts(recurrenceOper.toAccId)">
                </select>
                <select
                        ng-if="recurrenceOper.type === 'income'"
                        ng-model="recurrenceOper.toAccId"
                        ng-options="acc.id as acc.name for acc in getFirstAccounts(recurrenceOper)"
                        ng-click="refreshToAccounts(recurrenceOper.fromAccId)">
                </select>
                <input class="amount" ng-model="recurrenceOper.amount" placeholder="Сумма"/>
                <select
                        ng-if="recurrenceOper.type === 'income'"
                        ng-model="recurrenceOper.fromAccId"
                        ng-options="acc.id as acc.name for acc in getSecondAccounts(recurrenceOper)"
                        ng-click="refreshFromAccounts(recurrenceOper.toAccId)">
                </select>
                <select ng-model="recurrenceOper.period">
                  <option value="month">Месяц</option>
                  <option value="quarter">Квартал</option>
                  <option value="year">Год</option>
                </select>
              </div>
              <div>
                <input ng-model="recurrenceOper.comment" placeholder="Комментарий"/>
                <span>
                  <span ng-repeat="label in recurrenceOper['labels']">
                    <a href="" class="label" ng-show="!labelIsEdited[$index]" ng-click="labelIsEdited[$index]=true">{{label}}</a>
                    <input class="label" ng-show="labelIsEdited[$index]" ng-model="label"
                       ng-keypress="labelIsEdited[$index]=$event.keyCode!=13;editLabelKeyPressed($event, $index, label, recurrenceOper)"/>
                  </span>
                  <a href="" ng-show="!isNewLabel" ng-click="isNewLabel=true" class="label">+</a>
                  <input class="label" ng-hide="!isNewLabel" ng-model="label"
                     ng-keypress="isNewLabel=$event.keyCode!=13;newLabelKeyPressed($event, label, recurrenceOper);label=$event.keyCode==13 ? null : label"/>
                </span>
              </div>
              <div>
                <input type="submit"
                       ng-click="saveRecurrenceOper(recurrenceOper)"
                       ng-disabled="!recurrenceOper.amount.length && !recurrenceOper.nextDate.length"
                       value="сохранить"/>
                <a href="" ng-click="cancelRecurrenceOper()">отменить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="BalancesCtrl" class="block">
  Остатки <a href="" ng-click="newBalance()">добавить</a>
  <div ng-repeat="balance in getBalances(arcViewed)" class="list-item-block">
    <div ng-hide="balance.isEdited">
      <div class="balance-left-block">
        <div>{{balance.name}} <span ng-show="balance.isArc == true">[в архиве]</span></div>
        <div ng-show="balance['reserveId'] != null">Резерв: {{getReserveName(balance['reserveId'])}}</div>
      </div>
      <div class="balance-right-block">
        <div ng-show="balance['creditLimit'] > 0 || balance['minValue'] > 0">Доступные средства:
          <span ng-bind-html="formatMoney(balance['freeFunds'], balance['currencySymbol'])"
                class="{{balance['freeFunds'] >= 0 ? 'positive-money' : 'negative-money'}}">
          </span>
        </div>
        <div>Баланс:
          <span ng-bind-html="formatMoney(balance['value'], balance['currencySymbol'])"
                class="{{balance['value'] >= 0 ? 'positive-money' : 'negative-money'}}">
          </span>
        </div>
        <div ng-show="balance['creditLimit'] > 0">
          Кредитный лимит:
          <span ng-bind-html="formatMoney(balance['creditLimit'], balance['currencySymbol'])"></span>
        </div>
        <div ng-show="balance['minValue'] > 0">
          Минимальный остаток:
          <span ng-bind-html="formatMoney(balance['minValue'], balance['currencySymbol'])"></span>
        </div>
        <div>
          <a href="" ng-click="upBalance(balance)">вверх</a>
          <a href="" ng-click="balance.isEdited=true">изменить</a>
          <a href="" ng-click="deleteBalance(balance)">удалить</a>
        </div>
      </div>
    </div>
    <div ng-show="balance.isEdited" class="form">
      <div>
        <input ng-model="balance.name" placeholder="Название"/>
        <input ng-model="balance.currencyCode" placeholder="Код валюты"/>
        <input class="date" ng-model="balance.createdDate" placeholder="Дата"/>
        <select ng-model="balance.type">
          <option value="debit">Места хранения</option>
          <option value="credit">Кредиты</option>
          <option value="asset">Активы</option>
        </select>
        <select
            ng-model="balance.reserveId"
            ng-options="reserve.id as reserve.name for reserve in getReserves()">
        </select>
        <input type="checkbox" ng-model="balance.isArc">Архивный</input>
      </div>
      <div>
        Остаток: <input ng-model="balance.value"/>
      </div>
      <div>
        Кредитный лимит: <input ng-model="balance.creditLimit"/>
      </div>
      <div>
        Минимальный остаток: <input ng-model="balance.minValue"/>
      </div>
      <input type="submit"
             ng-click="saveBalance(balance)"
             ng-disabled="!(balance.name.length && balance.type.length)"
             value="сохранить"/>
      <a href="" ng-click="cancelEditBalance(balance)">отменить</a>
    </div>
  </div>
  <a href=""
     ng-click="arcViewed = !arcViewed"
     ng-bind="arcViewed ? 'скрыть архивные' : 'показать архивные'">
  </a>
</div>

<div ng-controller="ReservesCtrl" class="block">
  Резервы <a href="" ng-click="newReserve()">добавить</a>
  <div ng-repeat="reserve in getReserves(arcViewed)" class="list-item-block">
    <div ng-hide="reserve.isEdited">
      <div class="balance-left-block">
        <div>{{reserve.name}}<span ng-show="reserve.isArc == true"> [в архиве]</span></div>
      </div>
      <div class="balance-right-block">
        <div>Цель:
          <span ng-bind-html="formatMoney(reserve.target, reserve.currencySymbol)" class="money"></span>
        </div>
        <div>Текущее значение:
          <span ng-bind-html="formatMoney(reserve.value, reserve.currencySymbol)" class="money"></span>
        </div>
        <div>
          <a href="" ng-click="reserve.isEdited = true">изменить</a>
          <a href="" ng-click="deleteReserve(reserve)">удалить</a>
        </div>
      </div>
    </div>
    <div ng-show="reserve.isEdited" class="form">
      <div class="form">
        <div>
          <input ng-model="reserve.name" placeholder="Название"/>
          <input type="checkbox" ng-model="reserve.isArc">Архивный</input>
        </div>
        <div>
          Цель: <input ng-model="reserve.target"/>
        </div>
        <div>
          Текущее значение: <input ng-model="reserve.value"/>
        </div>
        <div>
          <input type="submit"
                 ng-click="saveReserve(reserve)"
                 ng-disabled="!(reserve.name.length)"
                 value="сохранить"/>
          <a href="" ng-click="cancelEditReserve(reserve)">отменить</a>
        </div>
      </div>
    </div>
  </div>
  <a href=""
     ng-click="arcViewed = !arcViewed"
     ng-bind="arcViewed ? 'скрыть архивные' : 'показать архивные'">
  </a>
</div>

<div ng-controller="CategoriesCtrl" class="block">
  Категории доходов и расходов <a href="" ng-click="newCategory()">добавить</a>
  <div ng-repeat="category in getCategories(arcViewed)" class="list-item-block">
    <div ng-hide="category.isEdited">
      <div class="{{getClass(category)}}">
        {{category.name}}
        <span ng-show="category.isArc == true"> [в архиве]</span>
      </div>
      <div>
        <a href="" ng-click="category.isEdited = true">изменить</a>
        <a href="" ng-click="deleteCategory(category)">удалить</a>
      </div>
    </div>
    <div ng-show="category.isEdited">
      <div class="form">
        <div>
          <input ng-model="category.name" placeholder="Название"/>
          <input type="checkbox" ng-model="category.isArc">Архивный</input>
          <select ng-model="category.type">
            <option value="expense">Расходы</option>
            <option value="income">Доходы</option>
          </select>
          <select
              ng-model="category.rootId"
              ng-options="root.id as root.name for root in rootCategories">
          </select>
        </div>
        <div>
          <input type="submit"
                 ng-click="saveCategory(category)"
                 ng-disabled="!category.name.length || !category.type.length" value="сохранить"/>
          <a href="" ng-click="cancelEditCategory(category)">отменить</a>
        </div>
      </div>
    </div>
  </div>
  <a href=""
     ng-click="arcViewed = !arcViewed"
     ng-bind="arcViewed ? 'скрыть архивные' : 'показать архивные'">
  </a>
</div>

</body>
</html>
