<html ng-app="hmApp" xmlns="http://www.w3.org/1999/html">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular/angular-route.js"></script>
  <script src="bower_components/angular/angular-resource.js"></script>
  <script src="bower_components/angular/angular-sanitize.js"></script>
  <script src="bower_components/angular/angular-cookies.js"></script>
  <script src="bower_components/angular-base64/angular-base64.js"></script>
  <script src="bower_components/d3/d3.min.js"></script>
  <script src="bower_components/n3-line-chart/line-chart.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/UserCtrl.js"></script>
  <script src="js/InitCtrl.js"></script>
  <script src="js/BalanceSheetCtrl.js"></script>
  <script src="js/TagCtrl.js"></script>
  <script src="js/BalancesCtrl.js"></script>
  <script src="js/ReservesCtrl.js"></script>
  <script src="js/MoneyOpersCtrl.js"></script>
</head>
<body>
<div ng-controller="UserCtrl" class="block" align="center">
  <h2>Домашние деньги</h2>
  <!--a href="api/database/clear-n-create-balance-sheet">clear database and create balance sheet</a-->
  <div class="form">
    <input ng-readonly="isLogged()" ng-model="email" placeholder="Email"/>
    <input type="password" ng-readonly="isLogged()" ng-model="pwd" placeholder="Пароль"/>
    <input type="submit"
           ng-hide="isLogged()"
           ng-click="login(email, pwd)"
           value="Войти"/>
    <input type="submit"
           ng-show="isLogged()"
           ng-click="logout()"
           value="Выйти"/>
    <span ng-bind="errMsg"></span>
  </div>
</div>

<div ng-controller="InitCtrl" ng-hide="true"></div>

<div ng-controller="BalanceSheetCtrl" class="block">
  <div>
    Свободные деньги:
    <span ng-bind-html="formatMoney(bsStat.freeAmount)"
          class="{{bsStat.debitSaldo - bsStat.reserveSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
    Баланс:
    <span ng-bind-html="formatMoney(bsStat.totalSaldo)"
          class="{{bsStat.totalSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
    Резервы:
    <span ng-bind-html="formatMoney(bsStat.reserveSaldo)"
          class="{{bsStat.reserveSaldo >= 0 ? 'positive-money' : 'negative-money'}}">
    </span>
    Кредитная нагрузка:
    <span ng-bind-html="formatMoney(bsStat.actualDebt)"
          class="negative-money">
    </span>

  </div>
  <div>
    Интервал, мес.:
    <input type="number" ng-model="interval" ng-change="loadBsStat()"/>
    Доходы:
    <span ng-bind-html="formatMoney(bsStat.incomeAmount)" class="positive-money"></span>
    Расходы:
    <span ng-bind-html="formatMoney(bsStat.chargesAmount)" class="negative-money"></span>
  </div>
  <div>
    <linechart data="bsStat.dayStats" options="options" mode="" width="800" height="200"></linechart>
  </div>
  <div>
    Расходы по категориям
    <a href="" ng-click="showCharges=!showCharges" ng-bind="showCharges ? 'скрыть' : 'показать'"></a>
    <div ng-hide="!showCharges" ng-repeat="category in bsStat.categories" class="list-item-block">
      <div>
        <div class="balance-left-block">
          <span ng-bind="category.name"></span>
        </div>
        <div class="balance-right-block">
          <span ng-bind-html="formatMoney(category.amount)"></span>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="MoneyOpersCtrl" class="block">
  <div>
    Журнал операций
    <div>
      <a href="" ng-click="showSearchClick()">поиск</a>
    </div>
    <div ng-show="showSearch">
      <input ng-model="search"/>
      <input type="button" ng-click="find(search)" value="искать"/>
    </div>

    <div>
      <div class="list-item-caption">
        <a href="" ng-click="showUpcomingOpers = !showUpcomingOpers">Предстоящие платежи</a>
      </div>
      <div ng-show="showUpcomingOpers" class="list-item-caption">
        <a href="" ng-show="hasUpcomingOpersNextPage()" ng-click="loadUpcomingOpersNextPage(search)">↑</a>
        <a href="" ng-show="hasUpcomingOpersNextPage()" ng-click="reduceUpcomingOpers()">↓</a>
      </div>
      <div ng-repeat="oper in upcomingOpers.data" ng-show="showUpcomingOpers" class="list-item-block">
        <div ng-show="!oper.isEdited">
          <span>{{oper.operDate}}</span>
          <a href=""
             ng-click="oper.isEdited=true"
             ng-bind-html="getAmountAsHtml(oper)"
             class="{{oper.type == 'transfer' ? 'money' : (oper.type == 'income' ? 'positive-money' : 'negative-money')}}">
          </a>
          <span ng-bind="oper.items[0].balanceName"></span>
          <span ng-show="oper.items.length > 1">&rarr;</span>
          <span ng-show="oper.items.length > 1" ng-bind="oper.items[1].balanceName"></span>
          <span class="tag" ng-repeat="tag in oper['tags']">{{tag}}</span>
          <span>
          <a href=""
             ng-show="oper.status == 'Pending' || oper.status == 'Recurrence' || oper.status == 'Trend'"
             ng-click="completeOper(oper)">выполнить</a>
          <a href=""
             ng-hide="(oper.status == 'Recurrence' || oper.status == 'Pending') && oper.recurrenceId != null"
             ng-click="deleteOper(oper)">удалить</a>
          <a href=""
             ng-show="(oper.status == 'Recurrence' || oper.status == 'Pending') && oper.recurrenceId != null"
             ng-click="skipOper(oper)">пропустить</a>
        </span>
          <div ng-show="oper['comment'].length > 0">
            <span>{{oper['comment']}}</span>
          </div>
          <div ng-hide="oper['period'] == 'Day'">
            Период: <span ng-bind="getPeriodName(oper)"></span>
          </div>
        </div>
        <div ng-if="typeof(oper.isEdited) !== 'undefined' && oper.isEdited">
          <div class="form">
            <div>
              <span ng-bind="oper.type == 'expense' ? 'расход' : oper.type == 'income' ? 'доход' : 'перевод'"></span>
            </div>
            <div>
              <input class="date" ng-model="oper.operDate" placeholder="Дата"/>
              <input class="amount" ng-model="oper.items[0].value" placeholder="Сумма"/>
              <span ng-bind="oper.type == 'income' ? 'Куда: ' : 'Откуда: '"></span>
              <select
                      ng-model="oper.items[0].balanceId"
                      ng-options="acc.id as acc.name for acc in getFirstAccounts(oper)">
              </select>
              <span ng-if="oper.type == 'transfer'">Куда: </span>
              <select
                      ng-if="oper.type == 'transfer'"
                      ng-model="oper.items[1].balanceId"
                      ng-options="acc.id as acc.name for acc in getSecondAccounts(oper)">
              </select>
              <input class="amount"
                     ng-if="oper.type == 'transfer' && balanceCurrenciesIsNotEqual(oper.items[0].balanceId, oper.items[1].balanceId)"
                     ng-model="oper.items[1].value"
                     placeholder="Сумма"/>
            </div>
            <div>
              <select ng-model="oper.period">
                <option value="Day">День</option>
                <option value="Week">Неделя</option>
                <option value="Month">Месяц</option>
                <option value="Year">Год</option>
                <option value="Single">Разовая</option>
              </select>
              <input ng-model="oper.comment" placeholder="Комментарий"/>
              <span>
              <span ng-repeat="tag in oper['tags']">
                <a href="" class="tag" ng-show="!tagIsEdited[$index]" ng-click="tagIsEdited[$index]=true">{{tag}}</a>
                <input class="tag" ng-show="tagIsEdited[$index]" ng-model="tag"
                       ng-keypress="tagIsEdited[$index]=$event.keyCode!=13;editTagKeyPressed($event, $index, tag, oper)"/>
              </span>
              <a href="" ng-show="!isNewTag" ng-click="isNewTag=true" class="tag">+</a>
              <input class="tag" ng-hide="!isNewTag" ng-model="newTag" list="tagList"
                     ng-keypress="isNewTag=$event.keyCode!=13; newTagKeyPressed($event, newTag, oper); newTag = $event.keyCode==13 ? null : newTag"
                     ng-focus="getSuggestTags(oper, newTag)"/>
              <datalist id="tagList">
                <option ng-repeat="tag in suggestTags" value="{{tag}}"></option>
              </datalist>
            </span>
            </div>
            <div>
              <input type="submit"
                     ng-click="saveOper(oper)"
                     ng-disabled="!validOper(oper)"
                     value="сохранить"/>
              <a href="" ng-click="cancelOper(oper)">отменить</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <span>Добавить: </span>
      <a href="" ng-click="newOper('expense')">расход</a>,
      <a href="" ng-click="newOper('income')">доход</a> или
      <a href="" ng-click="newOper('transfer')">перевод</a>.
    </div>

    <div ng-repeat="groupList in opers.data">
      <div class="list-item-caption">
        <a href="" ng-click="groupList.expanded = !groupList.expanded">{{groupList.caption}}</a>
      </div>
      <div ng-repeat="oper in groupList.items" ng-show="groupList.expanded" class="list-item-block">
        <div ng-show="!oper.isEdited">
          <span ng-hide="oper.status == 'Done'">{{oper.operDate}}</span>
          <a href=""
             ng-click="oper.isEdited=true"
             ng-bind-html="getAmountAsHtml(oper)"
             class="{{oper.type == 'transfer' ? 'money' : (oper.type == 'income' ? 'positive-money' : 'negative-money')}}">
          </a>
          <span ng-bind="oper.items[0].balanceName"></span>
          <span ng-show="oper.items.length > 1">&rarr;</span>
          <span ng-show="oper.items.length > 1" ng-bind="oper.items[1].balanceName"></span>
          <span class="tag" ng-repeat="tag in oper['tags']">{{tag}}</span>
          <span>
            <a href=""
               ng-show="oper.status == 'Done'"
               ng-click="upOper(oper)">вверх</a>
            <a href=""
               ng-show="oper.status == 'Done'"
               ng-click="newOper(oper)">повторить</a>
            <a href=""
               ng-show="oper.status == 'Done' && oper.period != 'Single'"
               ng-click="createRecurrenceOperByOper(oper)">повторять</a>
            <a href=""
               ng-click="deleteOper(oper)">удалить</a>
          </span>
          <div ng-show="oper['comment'].length > 0">
            <span>{{oper['comment']}}</span>
          </div>
          <div ng-hide="oper['period'] == 'Day'">
            Период: <span ng-bind="getPeriodName(oper)"></span>
          </div>
        </div>
        <div ng-if="typeof(oper.isEdited) !== 'undefined' && oper.isEdited">
          <div class="form">
            <div>
              <span ng-bind="oper.type == 'expense' ? 'расход' : oper.type == 'income' ? 'доход' : 'перевод'"></span>
            </div>
            <div>
              <input class="date" ng-model="oper.operDate" placeholder="Дата"/>
              <input class="amount" ng-model="oper.items[0].value" placeholder="Сумма"/>
              <span ng-bind="oper.type == 'income' ? 'Куда: ' : 'Откуда: '"></span>
              <select
                  ng-model="oper.items[0].balanceId"
                  ng-options="acc.id as acc.name for acc in getFirstAccounts(oper)">
              </select>
              <span ng-if="oper.type == 'transfer'">Куда: </span>
              <select
                  ng-if="oper.type == 'transfer'"
                  ng-model="oper.items[1].balanceId"
                  ng-options="acc.id as acc.name for acc in getSecondAccounts(oper)">
              </select>
              <input class="amount"
                     ng-if="oper.type == 'transfer' && balanceCurrenciesIsNotEqual(oper.items[0].balanceId, oper.items[1].balanceId)"
                     ng-model="oper.items[1].value"
                     placeholder="Сумма"/>
            </div>
            <div>
              <select ng-model="oper.period">
                <option value="Day">День</option>
                <option value="Week">Неделя</option>
                <option value="Month">Месяц</option>
                <option value="Year">Год</option>
                <option value="Single">Разовая</option>
              </select>
              <input ng-model="oper.comment" placeholder="Комментарий"/>
              <span>
                <span ng-repeat="tag in oper['tags']">
                  <a href="" class="tag" ng-show="!tagIsEdited[$index]" ng-click="tagIsEdited[$index]=true">{{tag}}</a>
                  <input class="tag" ng-show="tagIsEdited[$index]" ng-model="tag"
                         ng-keypress="tagIsEdited[$index]=$event.keyCode!=13;editTagKeyPressed($event, $index, tag, oper)"/>
                </span>
                <a href="" ng-show="!isNewTag" ng-click="isNewTag=true" class="tag">+</a>
                <input class="tag" ng-hide="!isNewTag" ng-model="newTag" list="tagList"
                       ng-keypress="isNewTag=$event.keyCode!=13; newTagKeyPressed($event, newTag, oper); newTag = $event.keyCode==13 ? null : newTag"
                       ng-focus="getSuggestTags(oper, newTag)"/>
                <datalist id="tagList">
                  <option ng-repeat="tag in suggestTags" value="{{tag}}"></option>
                </datalist>
              </span>
            </div>
            <div>
              <input type="submit"
                     ng-click="saveOper(oper)"
                     ng-disabled="!validOper(oper)"
                     value="сохранить"/>
              <a href="" ng-click="cancelOper(oper)">отменить</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="" ng-show="hasOpersNextPage()" ng-click="loadOpersNextPage(search)">еще</a>
    <div>
      Повторяющиеся платежи
      <a href="" ng-click="showRecurrenceOpers=!showRecurrenceOpers"
         ng-bind="showRecurrenceOpers ? 'скрыть' : 'показать'"></a>
      <div ng-repeat="recurrenceOper in recurrenceOpers" ng-hide="!showRecurrenceOpers" class="list-item-block">
        <div>
          <div ng-hide="recurrenceOper.isEdited">
            <span>{{recurrenceOper.nextDate}}</span>
            <span ng-bind-html="getAmountAsHtml(recurrenceOper)"
                  class="{{recurrenceOper.type == 'transfer' ? 'money' : (recurrenceOper.type == 'income' ? 'positive-money' : 'negative-money')}}">
            </span>
            <span ng-bind="recurrenceOper.items[0].balanceName"></span>
            <span ng-show="recurrenceOper.items.length > 1">&rarr;</span>
            <span ng-show="recurrenceOper.items.length > 1" ng-bind="recurrenceOper.items[1].balanceName"></span>
            <span>Периодичность: {{getPeriodName(recurrenceOper)}}</span>
            <div>
              <span>{{recurrenceOper['comment']}}</span>
              <div><span class="tag" ng-repeat="tag in recurrenceOper['tags']">{{tag}}</span></div>
              <span>
                <a href="" ng-click="recurrenceOper.isEdited=true">изменить</a>
                <a href="" ng-click="deleteRecurrenceOper(recurrenceOper)">удалить</a>
              </span>
            </div>
          </div>
          <div ng-if="typeof(recurrenceOper.isEdited) !== 'undefined' && recurrenceOper.isEdited">
            <div class="form">
              <div>
                <input class="date" ng-model="recurrenceOper.nextDate" placeholder="Дата"/>
                <input class="amount" ng-model="recurrenceOper.items[0].value" placeholder="Сумма"/>
                <span ng-bind="recurrenceOper.type == 'income' ? 'Куда: ' : 'Откуда: '"></span>
                <select
                        ng-model="recurrenceOper.items[0].balanceId"
                        ng-options="acc.id as acc.name for acc in getFirstAccounts(recurrenceOper)">
                </select>
                <span ng-if="recurrenceOper.type == 'transfer'">Куда: </span>
                <select
                        ng-if="recurrenceOper.type == 'transfer'"
                        ng-model="recurrenceOper.items[1].balanceId"
                        ng-options="acc.id as acc.name for acc in getSecondAccounts(recurrenceOper)">
                </select>
                <input class="amount"
                       ng-if="recurrenceOper.type == 'transfer' && balanceCurrenciesIsNotEqual(recurrenceOper.items[0].balanceId, recurrenceOper.items[1].balanceId)"
                       ng-model="recurrenceOper.items[1].value"
                       placeholder="Сумма"/>
                <select ng-model="recurrenceOper.period">
                  <option value="Week">Месяц</option>
                  <option value="Month">Месяц</option>
                  <option value="Year">Год</option>
                </select>
              </div>
              <div>
                <input ng-model="recurrenceOper.comment" placeholder="Комментарий"/>
                <span>
                  <span ng-repeat="tag in recurrenceOper['tags']">
                    <a href="" class="tag" ng-show="!tagIsEdited[$index]" ng-click="tagIsEdited[$index]=true">{{tag}}</a>
                    <input class="tag" ng-show="tagIsEdited[$index]" ng-model="tag"
                       ng-keypress="tagIsEdited[$index]=$event.keyCode!=13;editTagKeyPressed($event, $index, tag, recurrenceOper)"/>
                  </span>
                  <a href="" ng-show="!isNewTag" ng-click="isNewTag=true" class="tag">+</a>
                  <input class="tag" ng-hide="!isNewTag" ng-model="tag"
                     ng-keypress="isNewTag=$event.keyCode!=13;newTagKeyPressed($event, tag, recurrenceOper);tag=$event.keyCode==13 ? null : tag"/>
                </span>
              </div>
              <div>
                <input type="submit"
                       ng-click="saveRecurrenceOper(recurrenceOper)"
                       ng-disabled="!recurrenceOper.amount.length && !recurrenceOper.nextDate.length"
                       value="сохранить"/>
                <a href="" ng-click="cancelRecurrenceOper()">отменить</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div ng-controller="BalancesCtrl" class="block">
  Остатки <a href="" ng-click="newBalance()">добавить</a>
  <div ng-repeat="balance in getBalances(includeArc)" class="list-item-block">
    <div ng-hide="balance.isEdited">
      <div class="balance-left-block">
        <div>{{balance.name}} <span ng-show="balance.isArc == true">[в архиве]</span></div>
        <div ng-show="balance['reserveId'] != null">Резерв: {{getReserveName(balance['reserveId'])}}</div>
      </div>
      <div class="balance-right-block">
        <div ng-show="balance['creditLimit'] > 0 || balance['minValue'] > 0">Доступные средства:
          <span ng-bind-html="formatMoney(balance['freeFunds'], balance['currencySymbol'])"
                class="{{balance['freeFunds'] >= 0 ? 'positive-money' : 'negative-money'}}">
          </span>
        </div>
        <div>Баланс:
          <span ng-bind-html="formatMoney(balance['value'], balance['currencySymbol'])"
                class="{{balance['value'] >= 0 ? 'positive-money' : 'negative-money'}}">
          </span>
        </div>
        <div ng-show="balance['creditLimit'] > 0">
          Кредитный лимит:
          <span ng-bind-html="formatMoney(balance['creditLimit'], balance['currencySymbol'])"></span>
        </div>
        <div ng-show="balance['minValue'] > 0">
          Минимальный остаток:
          <span ng-bind-html="formatMoney(balance['minValue'], balance['currencySymbol'])"></span>
        </div>
        <div>
          <a href="" ng-click="upBalance(balance)">вверх</a>
          <a href="" ng-click="balance.isEdited=true">изменить</a>
          <a href="" ng-click="deleteBalance(balance)">удалить</a>
        </div>
      </div>
    </div>
    <div ng-show="balance.isEdited" class="form">
      <div>
        <input ng-model="balance.name" placeholder="Название"/>
        <input ng-model="balance.currencyCode" placeholder="Код валюты"/>
        <input class="date" ng-model="balance.createdDate" placeholder="Дата"/>
        <select ng-model="balance.type">
          <option value="debit">Места хранения</option>
          <option value="credit">Кредиты</option>
          <option value="asset">Активы</option>
        </select>
        <select
            ng-model="balance.reserveId"
            ng-options="reserve.id as reserve.name for reserve in getReserves()">
        </select>
        <input type="checkbox" ng-model="balance.isArc">Архивный</input>
      </div>
      <div>
        Остаток: <input ng-model="balance.value"/>
      </div>
      <div>
        Кредитный лимит: <input ng-model="balance.creditLimit"/>
      </div>
      <div>
        Минимальный остаток: <input ng-model="balance.minValue"/>
      </div>
      <input type="submit"
             ng-click="saveBalance(balance)"
             ng-disabled="!(balance.name.length && balance.type.length)"
             value="сохранить"/>
      <a href="" ng-click="cancelEditBalance(balance)">отменить</a>
    </div>
  </div>
  <a href=""
     ng-click="includeArc = !includeArc"
     ng-bind="includeArc ? 'скрыть архивные' : 'показать архивные'">
  </a>
</div>

<div ng-controller="ReservesCtrl" class="block">
  Резервы <a href="" ng-click="newReserve()">добавить</a>
  <div ng-repeat="reserve in getReserves(arcViewed)" class="list-item-block">
    <div ng-hide="reserve.isEdited">
      <div class="balance-left-block">
        <div>{{reserve.name}}<span ng-show="reserve.isArc == true"> [в архиве]</span></div>
      </div>
      <div class="balance-right-block">
        <div>Цель:
          <span ng-bind-html="formatMoney(reserve.target, reserve.currencySymbol)" class="money"></span>
        </div>
        <div>Текущее значение:
          <span ng-bind-html="formatMoney(reserve.value, reserve.currencySymbol)" class="money"></span>
        </div>
        <div>
          <a href="" ng-click="reserve.isEdited = true">изменить</a>
          <a href="" ng-click="deleteReserve(reserve)">удалить</a>
        </div>
      </div>
    </div>
    <div ng-show="reserve.isEdited" class="form">
      <div class="form">
        <div>
          <input ng-model="reserve.name" placeholder="Название"/>
          <input type="checkbox" ng-model="reserve.isArc">Архивный</input>
        </div>
        <div>
          Цель: <input ng-model="reserve.target"/>
        </div>
        <div>
          Текущее значение: <input ng-model="reserve.value"/>
        </div>
        <div>
          <input type="submit"
                 ng-click="saveReserve(reserve)"
                 ng-disabled="!(reserve.name.length)"
                 value="сохранить"/>
          <a href="" ng-click="cancelEditReserve(reserve)">отменить</a>
        </div>
      </div>
    </div>
  </div>
  <a href=""
     ng-click="arcViewed = !arcViewed"
     ng-bind="arcViewed ? 'скрыть архивные' : 'показать архивные'">
  </a>
</div>

<div ng-controller="TagCtrl" class="block">
  Теги <input ng-model="search"/>
  <div>
    <a href=""
       ng-click="onlyCategories = !onlyCategories"
       ng-bind="onlyCategories ? 'категории' : 'все'">
    </a>
    <a ng-show="onlyCategories"
       href=""
       ng-click="categoryTypeFilter = categoryTypeFilter == 'income' ? 'expense' : 'income'"
       ng-bind="categoryTypeFilter == 'income' ? 'расходы' : 'доходы'">
    </a>
  </div>
  <div>
    <a href=""
       ng-click="includeArc = !includeArc"
       ng-bind="includeArc ? 'скрыть архивные' : 'показать архивные'">
    </a>
  </div>
  <div>
    <span ng-class="getClass(tag)"
          ng-repeat="tag in getTags(search, onlyCategories, categoryTypeFilter, includeArc)">
      <span ng-hide="tag.isEdited" ng-click="tag.isEdited = true">{{tag.name}}</span>
      <span ng-show="tag.isEdited" class="form">
        <input ng-model="tag.name" placeholder="Название"/>
        <input type="checkbox" ng-model="tag['isCategory']">Категория</input>
        <select ng-show="tag['isCategory']" ng-model="tag['categoryType']">
          <option value="expense">Расходы</option>
          <option value="income">Доходы</option>
        </select>
        <select ng-show="tag['isCategory']"
                ng-model="tag['rootId']"
                ng-options="root.id as root.name for root in getRootCategoryTags(tag)"/>
        <input type="checkbox" ng-model="tag.isArc">Архивный</input>
        <a href="" class="tag-link" ng-click="saveTag(tag)" ng-bind="'сохранить'"></a>
        <a href="" class="tag-link" ng-click="cancelEditTag()" ng-bind="'отменить'"></a>
      </span>
    </span>
  </div>
</div>

</body>
</html>
